apiVersion: v1
kind: ConfigMap
metadata:
  name: geneos-gateway-${name}-config
data:
  gci: |-
    -resources-dir /opt/gateway/resources
    -setup /gateway/persist/setup/gateway.setup.xml
    -licd-host ${licd-url}
    

